<div class="articles container">

    {{#each articles }}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
      </div>
      <div class="panel-body">
        <a class="artLink" href={{link}}>{{link}}</a>
        <button data-id={{_id}} class="btn btn-danger pull-right save-article">Save Article</button>
      </div>
    </div>
    <br />
    <br />
    {{/each}}

</div>
